.recover__form {
	width: fit-content;
	background-color: #343944;
	color: #343944;
	display: block;
	margin: auto;
	padding: 20px;
}

.recover__form label {
	display: block;
}

.recover__form button {
	display: block;
	margin: auto;
}
